body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.tarefas {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
ul {
  list-style: none;
}
li {
  font-size: 20px;
}
input {
  margin: 7px;
}
